@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    
}
a{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1420;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid rgba(255,255,255,0.1);

}

.header-izq {
    display: flex;
    gap: 10px;
    width: 70%;
}

.logoprincipal {
    display: flex;
    width: auto;
}
.logo{
    width: 12em
}

.navbar_izq {
    display: flex;
    gap: 15px;
    width: 70%;
    padding: 10px;
    list-style: none;
}

.navbar_izq li a{
    font-size: 1em;
}

.navbar_izq a {
    color: #F5F7FA;
    font-size: 14px;
}



.navbar_der {
    display: flex;
    gap: 15px;
    align-items: center;
}


.header-der{
    padding: 5px;
    display: flex;
    align-items: flex-start;
    margin: 0 0 0 0 15px
}

.perfil{
    width: 25px;
}

body{
    background-color: #0B1420;
}

.destacados{
    display: flex;

    margin: 20px 30px;
    padding: 20px 30px;
    color: white;
    background-color: #142A45;
    border-radius: 15px;
    
}

.contenedor-t{
    width: 10px;
}

#t-personalizado{
    color: #50C2F7;
    background-color: #1D4160;
    border: none;
    border-radius: 25px;
    padding: 9px 20px;
    font-size: 13px;
}

#reproducir{
    background-color: #FFB300;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

#milista{
    background-color: #273B54 ;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
}

.recomendaciones{
    margin: auto;
}

.recomendaciones p{
    padding: 10px 0px;
    color: #9AA5B1;
}

.imagen_destacados img{
    padding: 30px;
    width: 80%;
}

.principal{
    margin: 50px 30px;
}

.buscador {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.principal .buscador a{

    background-color: #19222D;
    color: #9AA5B1;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
}
#seleccionado{
    background-color: #50C2F7;
    color: #052C53;

}

.grid-peliculas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    
}

.grid-peliculas img{
    width: 80%;
}

.continuar_viendo{
    margin: 0px 30px;
    padding: 20px 0px;
    width: 70%;
    color: white;
}

.linea_de_progreso{
    width: 100px;
}

.grid-nacionales{
    gap: 6px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.grid-nacionales img{
    width: 90%;
}
.nacionales p{
    margin: 5px 0px;
}
#subtexto{
    font-size: 11px;
    color: #687385
}
@media (max-width:755px){
    .logo{width: 150px;}
    .navbar_izq{font-size: 14px;}
    .destacados{margin: 10px 20px; padding: 10px 20px;}
    .buscador{gap: 10px;}
    .buscador a{font-size: 11px;}
    .continuar_viendo h2{font-size: 1.4em;}
    .recomendaciones h2{font-size: 1.2em;}
    .recomendaciones p{font-size: 13px;}
    #reproducir{padding: 10px 20px;}
    #milista{padding: 10px 20px;}
    .grid-peliculas p{font-size: 13px;}
    .grid-nacionales{font-size: 13px;}
}

@media (max-width:652px){
    .logo{width: 150px;}
    .navbar_izq{font-size: 11px;}
    .destacados{margin: 10px 10px; padding: 10px 5px;}
    .buscador{gap: 6px;}
    .principal .buscador a{ font-size: 10px;}
    .continuar_viendo h2{font-size: 1.4em;}
    .recomendaciones h2{font-size: 1em;}
    .recomendaciones p{font-size: 9px;}
    .recomendaciones{margin: 10px;}
    #t-personalizado{padding: 5px 10px; font-size: 8px;}
    #reproducir{padding: 5px 5px; font-size: 11px;}
    #milista{padding: 5px 5px; font-size: 11px;}
    .grid-peliculas p{font-size: 13px;}
    .grid-nacionales{font-size: 13px;}
    .destacados img{display: none;}
}